@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.text-color {
  color: #c1beb8;
}

button {
  transition: background-color;
  transition-duration: 100ms;
}

button:hover {
  background-color: #FF6340;
  cursor: pointer;
}

.footer-btn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

@font-face {
  font-family: 'Druk Bold Trial';
  src: url('/fonts/Druk-Bold-Trial.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}